body{
    background-color: burlywood;
}
#row1{
    display: block;
}
#row2{
    display: block;
}
#g_over{
    display: none;
}


.col
{
    position: relative;
    
}
.hole{
    width:200px;
    height:100px;
    position: relative;
    background-image: url('images/dirt.png');
    
    top: 70px;
}
.mole{
    width: 200px;
    height: 100px;
    position: absolute;
    z-index: 2;
    top: 40px;
}